# Исключаем системные файлы и каталоги IDE
.vscode/
.idea/
*.iml

# Исключаем файлы виртуального окружения Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключаем логи и файлы кэша
*.log
*.sqlite3
db.sqlite3

# Исключаем статические и медиа файлы (если они загружаются отдельно)
staticfiles/
media/

# Исключаем скрытые файлы и папки (например, .git, .env)
.git/
.gitignore
.env
